@model List<PetaPocoWebTest.Poco.Article>

<fieldset>
    <legend>Articles tagged '@ViewData["TagName"]'</legend>
    @if( Model.Count > 0){
    <ul>
    @foreach( var article in Model) {
        <li>
            @Html.ActionLink( article.Title, "Details", "Article", new {articleId=article.Id}, null)
            by
            @Html.ActionLink( article.Author.Name, "Details", "Author", new {authorId=article.Author.Id}, null)
        </li>
    }
    </ul>
    } else {
    <p>None</p>
    }
</fieldset>
